
build/Testing/Temporary/LastTest.log
build/src/version.h
build/googletest/googletest/generated/GTestConfigVersion.cmake
build/googletest/googletest/generated/GTestConfig.cmake
build/googletest/googletest/generated/gtest_main.pc
build/googletest/googletest/generated/gtest.pc
build/googletest/googletest/generated/gmock_main.pc
build/googletest/googletest/generated/gmock.pc
build/googletest/googletest/CTestTestfile.cmake
build/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets.cmake
build/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-debug.cmake
build/googletest/googletest/cmake_install.cmake
build/googletest/googlemock/CTestTestfile.cmake
build/googletest/googlemock/cmake_install.cmake
build/googletest/CTestTestfile.cmake
build/googletest/cmake_install.cmake
build/CTestTestfile.cmake
build/CPackSourceConfig.cmake
build/CPackConfig.cmake
build/compile_commands.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/rules.ninja
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.25.2/CompilerIdCXX/a.exe
build/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.2/CompilerIdC/a.exe
build/CMakeFiles/3.25.2/CMakeSystem.cmake
build/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.2/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/build.ninja
build/.cmake/api/v1/reply/toolchains-v1-99b97b9bc1254da480bd.json
build/.cmake/api/v1/reply/target-test_version-Debug-688f295b2fd61d4451a4.json
build/.cmake/api/v1/reply/target-helloworld_cli-Debug-4901f2d813ff0e2911bd.json
build/.cmake/api/v1/reply/target-helloworld-Debug-e514142afd4dc2096d81.json
build/.cmake/api/v1/reply/target-gtest_main-Debug-44f44b0b1923a362ee97.json
build/.cmake/api/v1/reply/target-gtest-Debug-c3f995344781554eaf74.json
build/.cmake/api/v1/reply/target-gmock_main-Debug-f5baee384b93392cd065.json
build/.cmake/api/v1/reply/target-gmock-Debug-24eb5f589283abd3300a.json
build/.cmake/api/v1/reply/index-2023-01-27T13-52-46-0379.json
build/.cmake/api/v1/reply/directory-googletest.googletest-Debug-e53445cb766f4e5fc2a7.json
build/.cmake/api/v1/reply/directory-googletest.googlemock-Debug-936576b27cc733b91ea9.json
build/.cmake/api/v1/reply/directory-googletest-Debug-294c64d4885f2a55f3f7.json
build/.cmake/api/v1/reply/directory-.-Debug-d5fb949526456b66b82e.json
build/.cmake/api/v1/reply/codemodel-v2-cfbaf49dbff89d883f06.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c4c5c5a81efe7e3b0a3c.json
build/.cmake/api/v1/reply/cache-v2-96b797f7ab5fe9a0b869.json
build/.cmake/api/v1/query/client-vscode/query.json
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
